html, body{
    height: 100%;
    max-height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #edeef0;
}

.navbar{
    margin-bottom: 0;
}

.wrapper{
    min-height: 100%;
}

.wrapper-content{
    overflow: auto;
    padding-bottom: 200px;
}

.footer{
    position: relative;
    margin-top: 200px;
    background-color: white;
    clear: both;
    height: 50px;
}

.section-top{
    margin-bottom: 20px;
}

.product-description-tabs{
    padding: 10px;
}

.add-to-cart-btn{
    position: absolute;
    bottom: 10px;
    left: 78px;
}


.product-item{
    height: 555px;
    background-color: white;
    border: 1px solid lightgrey;
    position: relative;
    padding: 10px 0 10px 0;
    text-align: center;
    margin-bottom: 10px;
}



.discount-container{
    position: absolute;
    top: 10%;
    background: #239f23;
    color: white;
    width: 30%;
    font-weight: 700;
    padding: 3px;

}

.section-delivery{
    height: 300px;
    background-color: darkseagreen;
    text-align: center;
    color: white;
}

.navbar-top{
    min-height: 10px;
    height: 20px;
    background-color: #28163a;
    border: none;
    border-radius: 0;
}

.navbar-main{
    background-color: black;
    border: none;
    border-radius: 0;
}

.basket-container{
    position: relative;
    width: 400px;
    padding: 15px 10px;
}

.basket-items{
    position: absolute;
    top: 85%;
    width: 100%;
    background-color: darkseagreen;
    z-index: 10;
    padding: 10px;
}

.price-with_discount{
    color: #d23737;
}

#search{
    padding-top: 100px;
}

.price-container-discount{
    position: absolute;
    width: 200px;
    left: 35px;
    bottom: 45px;
}

.product-discount{
    display:ruby;
}

.image-product{
    text-align: center;
    padding: 26px;

}

#thx{
    padding-top: 100px;
}